
body {
    font-family: 'helvetica'; 
    font-weight: 400; 
    padding: 0;
    margin: 0;
}

h1 {
    font-weight: 700; 
    font-size: 2em; 
}

h3 {
    font-weight: 600; 
    font-size: 1.5em; 
}

p {
    font-weight: 600; 
}

/* Title and subtitle in image at top of page.*/

.pageTitle {
    font-size: 3em;
    font-family: 'helvetica';
    position: absolute;
    top: 90px; 
    left: 40px; 
    color: white;
}

.pageSubtitle {
    font-size: 2em; 
    font-weight: 500;
    font-family: 'helvetica'; 
    position: absolute; 
    top: 200px; 
    left: 40px; 
    width: 380px;
    color: white; 
}

/* Div to hold page header image.*/

#imageDiv {
    width: 100vw; 
    height: 100vh; 
    overflow: hidden;
}

.headerImage {
    width: 100vw; 
    height: 400px; 
    overflow: hidden; 
}

.topPic {
    position: relative;
}

/* Logo in nav bar of each page.*/

#logo {
    width: 250px;
    padding: 8px 12px;
    transition: width 0.5s; 
}

#logo:hover {
    width: 255px;
}

/*Small box on index page which indicates that there is more information further down.*/

#scrollIndicator {
    position:  absolute; 
    bottom: 0; 
    left: 45%; 
    color: black; 
    font-size: 1em; 
    font-family: "montserrat"; 
    background-color: white; 
    padding: 8px;
    border-radius: 15px; 
    text-align: center; 
    opacity: 0.8; 
}

/* Large centered heading for pages.*/

.pageHeading {
    font-size: 2.7em; 
    text-align: center; 
    margin-bottom: 5px; 
}

/* Smaller text version of pageHeading*/

.pageSubheading {
    font-size: 2em; 
    text-align: center;
    margin-right: 25px; 
    margin-left: 25px; 
    
}

/* Title for longer content.*/

.contentHeading {
    font-size: 2.5em;
    margin-left: 5%; 
    margin-top: 50px; 
}

/* Longer content description */

.contentDesc {
    font-size: 1.5em;
    margin-left: 8%; 
    width: 600px; 
}

/* Link with arrow to indicate there is more information on a certain topic.*/

.moreLink {
    font-size: 1.2em;
    text-decoration: underline; 
    font-weight: 600;
    margin-left: 8.5%;
    transition: font-size 0.5s; 
    color: black;
}

.moreLink:hover {
    font-size: 1.3em;
    text-decoration: none; 
}

/* Picture next to content title and description.*/

.detailPic {
    float: right;
    width: 300px; 
    margin-top: -80px; 
    margin-right: 50px;
    transition: width 0.5s; 
}

.detailPic:hover {
    width: 310px; 
}

/* Margin change specifically for detail picture of lodging.*/

#lodgingPic {
    margin-top: -35px; 
}

/* Empty space between sections.*/

.sectionSeperator {
    width: 100%; 
    height: 70px; 
}

/* Div holding link to about page.*/

.endLinkDiv {
    margin-top: 100px; 
    width: 100%; 
    height: 60px; 
    background-color: gray;
    opacity: 0.8;
}

.refButtonDiv {
    padding-top: 12px; 
}

.endLink {
    display: block; 
    margin: 0 auto; 
    width: 180px; 
    background-color: white; 
	font-size: 1.0em; 
	font-family: 'montserrat', sans-serif;
	border-radius: 25px;
	padding: 10px;
    border: none; 
}

.endLink:hover {
    background-color: #d0cccc;
}


.designLink {
    color: black; 
    text-decoration: none; 
}

/* Styles for trail map. */

#trailMap {
    display: block; 
    margin: 0 auto;
    border-radius: 10px;
    width: 70%; 
}

/* Styles for list of lifts and their information.*/

#liftList {
    list-style-type: none; 
    margin-bottom: 80px; 
}

#liftList li {
    font-weight: 700; 
    font-size: 1.4em; 
    margin-left: 8%; 
    padding-bottom: 10px;
}

/* More info button for lifts page.*/

#liftLink {
    font-size: 1.5em;
    text-decoration: none; 
    padding-top: 50px; 
    padding-bottom: 80px; 
    display: block;
    margin: 0 auto; 
    text-align: center; 
    
}

/* Added at bottom of page when reference is needed for an image.*/

.referenceCaption {
    text-align: center;
    padding-top: 50px; 
    padding-bottom: 25px; 
}

/* Description block for hotels. */

.hotelDesc {
    font-size: 1.5em; 
    width: 90%; 
    margin-left: 3%; 
    margin-right: 3%;
    margin-bottom: 80px; 
}

/* Image within gallery page.*/

.galleryImage {
    display: block; 
    margin: 0 auto;
    width: 800px; 
    margin-top: 50px; 
    margin-bottom: 50px; 
}


@media screen and (max-width:810px) {
    .detailPic {
        float: none;
        display: block;
        margin: 0 auto; 
        margin-top: 30px; 
    }
    
    .sectionSeperator {
        height: 40px; 
    }
    
    .contentDesc {
        width: 90%; 
    }
}




